@{
    ViewBag.Title = "Bienveindos";

}

    <h1>
        LISTADO DE PELICULAS
    </h1>
    
    <ul>
        <li>GoodFellas</li>
        <li>El padrino</li>
        <li>Batman the dark night</li>
    </ul>

